In [1]:
import requests
import json
import pandas as pd
import os

In [2]:
new_orleans = ['70112', '70113', '70114',
               '70115', '70116', '70117',
               '70118', '70119', '70121',
               '70122', '70123', '70124',
               '70125', '70126', '70127',
               '70128', '70129', '70130', 
               '70131', '70139', '70141', 
               '70142', '70143', '70145', 
               '70146', '70148', '70150',
               '70151', '70152', '70153', 
               '70154', '70156', '70157', 
               '70158', '70159', '70160',
               '70161', '70162', '70163', 
               '70164', '70165', '70166', 
               '70167', '70170', '70172', 
               '70174', '70175', '70176', 
               '70177', '70178', '70179', 
               '70181', '70182', '70183', 
               '70184', '70185', '70186', 
               '70187', '70189', '70190', 
               '70195']

In [3]:
coffey_park = ['95401', '95402', '95403',
               '95404', '95405', '95406',
               '95407', '95409']

In [4]:
boulder = ['80301', '80302', '80303',
           '80304', '80305', '80306',
           '80307', '80309', '80310',
           '80314']

In [5]:
moore_ok = ['73153', '73160', '73165', '73170']

In [6]:
buffalo = ['14201', '14202', '14203',
           '14204', '14205', '14206',
           '14207', '14208', '14209', '14210',
           '14211', '14212', '14213',
           '14214', '14215', '14216',
           '14217', '14218', '14219', '14220',
           '14221', '14222', '14223', '14224',
           '14225', '14226', '14227',
           '14228', '14231', '14233', '14240',
           '14241', '14260', '14261', '14263',
           '14264', '14265', '14267', '14269',
           '14270', '14272', '14273', '14276',
           '14280']

In [7]:
grand_isle = ['70358']

In [18]:
all_cities = buffalo + grand_isle + moore_ok + boulder + coffey_park + new_orleans

In [29]:
API_KEY = "pFtBv2h8dq17mVxz_F_V"

# create empty data frame
parent_df = pd.DataFrame()

In [30]:
for zippy in all_cities:
  zipCode = zippy #should be a string because if a zip code begins with 0, we would want to keep the entire number
  
  url = f"https://data.nasdaq.com/api/v3/datatables/ZILLOW/DATA?indicator_id=ZSFH&region_id={zipCode}&api_key={API_KEY}"
  
  #call the API
  page = requests.get(url)
  
  #convert response to a python object
  home_value_Data = json.loads(page.content)

  #isolate the data
  df = home_value_Data['datatable']['data']
  
  #convert to a DataFrame
  df2 = pd.DataFrame(df)

  #append it
  if len(df2) != 0:
    parent_df = pd.concat([parent_df, df2], axis = 0, ignore_index = True)

In [32]:
parent_df.columns = ['indicator_id','region_id', 'date', 'value']
parent_df.to_csv("single_family_homes_time_series.csv", index = False)

Median Sales - Monthly SMOOTH

In [22]:
# create empty data frame
parent_df = pd.DataFrame()

for zippy in all_cities:
  zipCode = zippy #should be a string because if a zip code begins with 0, we would want to keep the entire number
  
  url = f"https://data.nasdaq.com/api/v3/datatables/ZILLOW/DATA?indicator_id=SSAM&region_id={zipCode}&api_key={API_KEY}"
  
  #call the API
  page = requests.get(url)
  
  #convert response to a python object
  home_value_Data = json.loads(page.content)

  #isolate the data
  df = home_value_Data['datatable']['data']
  
  #convert to a DataFrame
  df2 = pd.DataFrame(df)

  #append it
  if len(df2) != 0:
    parent_df = pd.concat([parent_df, df2], axis = 0, ignore_index = True)

In [23]:
parent_df.columns = ['indicator_id','region_id', 'date', 'value']
parent_df.to_csv("median_sale_prices.csv", index = False)

Median Sales - Rent, Smoothed, Seasonally-Adjusted

In [40]:
# create empty data frame
parent_df = pd.DataFrame()

for zippy in all_cities:
  zipCode = zippy #should be a string because if a zip code begins with 0, we would want to keep the entire number
  
  url = f"https://data.nasdaq.com/api/v3/datatables/ZILLOW/DATA?indicator_id=RSSA&region_id={zipCode}&api_key={API_KEY}"
  
  #call the API
  page = requests.get(url)
  
  #convert response to a python object
  home_value_Data = json.loads(page.content)

  #isolate the data
  df = home_value_Data['datatable']['data']
  
  #convert to a DataFrame
  df2 = pd.DataFrame(df)

  #append it
  if len(df2) != 0:
    parent_df = pd.concat([parent_df, df2], axis = 0, ignore_index = True)

In [41]:
parent_df

        0      1           2       3
0    RSSA  70358  2022-03-31  1128.0
1    RSSA  70358  2022-02-28  1111.0
2    RSSA  70358  2022-01-31  1095.0
3    RSSA  70358  2021-12-31  1116.0
4    RSSA  70358  2021-11-30  1099.0
..    ...    ...         ...     ...
185  RSSA  70127  2020-11-30  1024.0
186  RSSA  70127  2020-10-31  1014.0
187  RSSA  70127  2020-09-30  1005.0
188  RSSA  70127  2020-08-31  1006.0
189  RSSA  70127  2020-07-31  1018.0

[190 rows x 4 columns]

In [42]:
parent_df.columns = ['indicator_id','region_id', 'date', 'value']
parent_df.to_csv("rental_prices.csv", index = False)